# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so

# Test coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS metadata
.DS_Store

# Logs
*.log

# Env
.env
